# Dependencies
/vendor/

# Environment (secrets)
.env
.env.*
!.env.example

# Database
/data/

# Symfony cache/logs
/var/

# IDE
/.idea/
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.bak
.ssh/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
